@import "../../assets/scss/utils/variables";

.input {
   label {
      margin-bottom: 5px;
      font-size: 17px;
      padding: 0;
      display: block;
      font-weight: bold;
   }

   input {
      box-sizing: border-box;
      border: 1px solid $border-base;
      padding: 10px 20px;
      width: 100%;
      margin: 0 auto;
      transition: all .3s ease-in-out;
      font-size: 16px;
      letter-spacing: 0.06em;
      border-radius: 4px;
   }

   span {
      color: $danger-color;
      font-size: 12px;
      font-weight: bold;
   }

   &.invalid label {
      color: $danger-color;
   }
}