@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
// @import "~bootstrap/scss/bootstrap";

html {
	@media screen and (max-width: $desktop-width) {
		font-size: 16px;
	}
	@media screen and (max-width: $tablet-width) {
		font-size: 15px;
	}
	@media screen and (max-width: $phone-width) {
		font-size: 14px;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: $font-color-light;
	font-family: -apple-system, BlinkMacSystemFont, $main-font, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}