{
	"extends": "eslint:recommended",
	"env": {
		"browser": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"modules": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint/eslint-plugin"
	],
	"rules": {
		"accessor-pairs": "error",
		"array-bracket-spacing": ["error", "never"],
		"arrow-spacing": ["error", { "before": true, "after": true }],
		"block-spacing": "error",
		"brace-style": "error",
		"comma-dangle": ["error", "never"],
		"comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"constructor-super": "error",
		"curly": "warn",
		"default-case": "warn",
		"eol-last": ["error", "always"],
		"eqeqeq": ["warn", "always"],
		"dot-location": ["error", "property"],
		"func-call-spacing": ["error", "never"],
		"guard-for-in": "warn",
		"import/exports-last": "off",
		"import/no-unassigned-import": "off",
		"jsx-quotes": ["off", "prefer-double"],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"keyword-spacing": ["error", { "before": true }],
		"max-len": ["error", 150, 2, {
			"ignoreUrls": true,
			"ignoreComments": true,
			"ignoreRegExpLiterals": true,
			"ignoreStrings": true,
			"ignoreTemplateLiterals": true
		}],
		"max-params": ["warn", 4],
		"new-cap": ["error", {
			"newIsCap": true,
			"newIsCapExceptions": [],
			"capIsNew": false,
			"capIsNewExceptions": ["Immutable.Map", "Immutable.Set", "Immutable.List"],
		}],
		"new-parens": "error",
		"no-caller": "error",
		"no-class-assign": "error",
		"no-compare-neg-zero": "error",
		"no-cond-assign": "error",
		"no-console": "warn",
		"no-debugger": "error",
		"no-delete-var": "error",
		"no-dupe-args": "error",
		"no-dupe-class-members": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-duplicate-imports": "error",
		"no-empty": "error",
		"no-empty-character-class": "error",
		"no-empty-function": "error",
		"no-empty-pattern": "error",
		"no-eval": "error",
		"no-extra-bind": "error",
		"no-extra-boolean-cast": "error",
		"no-floating-decimal": "error",
		"no-func-assign": "error",
		"no-global-assign": "error",
		"no-implied-eval": "error",
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": "warn",
		"no-lone-blocks": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-multi-spaces": "error",
		"no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1, "maxEOF": 0 }],
		"no-nested-ternary": "error",
		"no-new": "warn",
		"no-new-func": "error",
		"no-new-object": "error",
		"no-new-require": "error",
		"no-new-symbol": "error",
		"no-new-wrappers": "error",
		"no-obj-calls": "error",
		"no-octal": "error",
		"no-proto": "error",
		"no-prototype-builtins": "off",
		"no-regex-spaces": "error",
		"no-return-assign": "error",
		"no-self-assign": "error",
		"no-self-compare": "error",
		"no-shadow": "warn",
		"no-shadow-restricted-names": "error",
		"no-tabs": ["error", { "allowIndentationTabs": true }],
		"no-this-before-super": "error",
		"no-throw-literal": "error",
		"no-trailing-spaces": ["error", {
			"skipBlankLines": true,
			"ignoreComments": true
		}],
		"no-useless-call": "error",
		"no-useless-constructor": "warn",
      "no-undef-init": "error",
		"no-undef":"off",
		"no-unneeded-ternary": "error",
		"no-unreachable": "error",
		"no-unused-vars": ["off", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }],
		"no-use-before-define": ["warn", { "functions": false, "classes": true, "variables": true }],
		"no-useless-computed-key": "error",
		"no-var": "error",
		"no-with": "error",
		"object-curly-spacing": ["warn", "always"],
		"padded-blocks": ["off", "always"],
		"quotes": ["warn", "single", { "avoidEscape": true , "allowTemplateLiterals": true }],
		"rest-spread-spacing": ["error", "never"],
		"semi": ["off", "always", { "omitLastInOneLineBlock": true}],
		"semi-spacing": "error",
		"space-before-blocks": "error",
		"space-in-parens": ["error", "never"],
		"space-infix-ops": ["error", { "int32Hint": false }],
		"space-unary-ops": "error",
		"template-curly-spacing": "error",
		"use-isnan": "warn",
		"yield-star-spacing": ["error", "after"],
		"yoda": "error"
	}
}