@import "../../assets/scss/utils/variables";

.button {
   float: right;
   padding: 8px 15px;
   border: 1px solid $theme-color !important;
   color: $font-color-dark;
   background-color: transparent;
   background-color: $theme-color !important;
   border-radius: 4px;
   font-weight: bold;
   font-size: 17px !important;
   letter-spacing: 0.06em;
   cursor: pointer;

   &:hover {
      transition: background .2s ease;
      background-color: darken($theme-color, 5) !important
   }

   &:focus {
      outline: none;
   }

   &:active {
      box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
      position: relative;
      top: 1px;
      left: 1px;
   }

   &:disabled {
      background-color: #ccc !important;
      border: 1px solid #ccc !important;
      color: #000;
      cursor: not-allowed;
   }
}

.success {
   background-color: $success-color;
   color: #000;
   &:hover {
      background-color: darken($success-color, 10%);
   }
}

.error {
   background-color: $fail-color;
}

.primary {
   background-color: $primary-color;
   color: $text-color;
   &:hover {
      color: $text-color;
      background-color: darken($primary-color, 5%);
   }
}