// Caviar Dreams
@font-face {
	font-family: "Caviar Dreams";
	src: url("../fonts/Caviar-Dreams/CaviarDreams.ttf")
}

@font-face {
	font-family: "Caviar Dreams Bold";
	src: url("../fonts/Caviar-Dreams/CaviarDreams_Bold.ttf")
}

@font-face {
	font-family: "Caviar Dreams Italic";
	src: url('../fonts/Caviar-Dreams/CaviarDreams_Italic.ttf')
}

@font-face {
	font-family: "Caviar Dreams Bold Italic";
	src: url('../fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf')
}
// Khand
@font-face {
	font-family: "Khand";
	src: url("../fonts/khand.ttf");
}